* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Inconsolata", monospace;
  background-color: rgb(243, 243, 239);
}

img {
  width: 100%;
}

.highlight {
  background-color: #000;
  color: #fff;
  width: fit-content;
  padding: 2px 8px;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 1.05rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav {
  width: inherit;
  color: white;
  position: fixed;
  top: 0;
}

.nav-list-items {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding: 20px 48px;
  font-weight: 400;
}

#hero {
  background-image: url("https://www.w3schools.com/w3images/coffeehouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: whitesmoke;
}

#hero h1 {
  width: 100px;
  font-size: 100px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

#info p:first-child {
  background-color: #000;
  padding: 4px 8px;
}

#main-section {
  width: 730px;
  padding: 48px;
  margin-inline: auto;
  line-height: 1.2;
}

#about-section h3 {
  margin: 40px auto;
}

.history {
  margin-top: 70px;
}

.history p {
  font-size: 1.15rem;
  line-height: 1.5;
  margin-bottom: 24px;
}

.about-owner {
  font-size: 1.15rem;
  background-color: rgb(236, 237, 240);
  padding: 0.5px 16px;
  border-left: 6px solid gainsboro;
  margin-bottom: 32px;
}

.about-owner p {
  margin: 18px 0;
}

.details {
  margin-top: 16px;
}

.details p {
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.details span {
  font-weight: bold;
}

#menu-section h3 {
  margin: 60px auto;
}

.menu-card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 32px;
}

.menu-choice {
  display: flex;
  padding: 8px 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  ;
}

.menu-choice span {
  text-align: center;
  flex-grow: 0.5;
}

.menu-choice span:first-child {
  background-color: rgb(103, 102, 102);
  color: #fff;
  padding: 2px 0;
  margin-left: 12px;
}

.menu-eat {
  padding: 54px 0 0 16px;
}

.menu-eat p:first-child {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-eat:last-child {
  padding-bottom: 54px;
}

.menu-eat p:nth-child(2) {
  color: #a1a1a1;
  margin-top: 16px;
}

#where-section h3 {
  margin: 48px auto;
}

#where-section p {
  font-size: 18px;
  margin: 16px 0;
}

#where-section p span {
  color: #fff;
  background-color: #000;
  padding: 3px 6px;
}

#cafe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#cafe-form input {
  height: 54px;
  padding: 0 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

#date {
  color: #222;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  margin-top: 16px;
  border: none;
  font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.btn:hover {
  background-color: #cacaca;
  color: #222;
  cursor: pointer;
}

#footer {
  width: 100%;
  height: 148px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer a {
  color: inherit;
}