* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Inconsolata", monospace;
  background-color: rgb(243, 243, 239);
}

img {
  width: 700px;
}

.highlight {
  background-color: #000;
  color: #fff;
  width: fit-content;
  font-weight: 400;
  padding: 0 8px;
  letter-spacing: 4px;
  font-weight: 500;
}

#nav {
  width: inherit;
  color: white;
  background-color: #000;
}

.nav-list-items {
  display: flex;
  justify-content: space-around;
  padding: 20px 48px;
  font-weight: 400;
  top: 0;
}

#hero {
  background-image: url("https://www.w3schools.com/w3images/coffeehouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: whitesmoke;
}

#hero h1 {
  width: 100px;
  font-size: 100px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

#info p:first-child {
  background-color: #000;
  padding: 4px 8px;
}

#main-section {
  width: 800px;
  padding: 48px;
  margin-inline: auto;
  line-height: 32px;
}

#about-section h3 {
  margin: 40px auto;
}

.history {
  margin-top: 70px;
}

.history p {
  font-size: 1.15rem;
  line-height: 28px;
  margin-bottom: 24px;
}

.about-owner {
  font-size: 1.15rem;
  background-color: rgb(236, 237, 240);
  padding: 20px 14px;
  border-left: 6px solid gainsboro;
  margin-bottom: 32px;
}

.details p {
  font-size: 1.15rem;
  margin-bottom: 10px;
}

.details span {
  font-weight: bold;
}

#menu-section {
  font-size: 1.15rem;
}

#menu-section h3 {
  margin: 60px auto 32px auto;
}

.menu-card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.menu-choice {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);;
}

.menu-eat {
  margin: 32px 0;
  padding-left: 16px;
}